transformers>=4.38.0
tiktoken>=0.5.0
numpy<2.0.0
openai>=1.10.0
ollama>=0.1.6
tqdm>=4.66.0
imagebind
Pillow>=10.0.0
moviepy>=1.0.3
faster_whisper>=1.0.0
nano-vectordb>=0.0.4
hnswlib>=0.7.0
xxhash>=3.4.1
networkx>=3.2.1
neo4j>=5.15.0
jsonlines>=4.0.0
pydantic>=2.5.0
setproctitle>=1.3.3
nest_asyncio>=1.5.8
moviepy<2.0.0
accelerate>=0.26.0
tenacity
bitsandbytes
decord
graspologic
typing-extensions
huggingface_hub
